h1,
h2 {
  text-align: left;
  /* padding: 0 20px; */
  /* max-width: 80%; */
  /* margin-top: 0; */
}

.paragraph {
  font-size: 55px;
  /* padding: 0 20px; */
  text-align: left;
  margin-top: 0px;
  font-family: "AbyssinicaSIL-Regular";
}
.readings {
  font-size: 35px;
  padding: 0px;
  margin: 5px 0px;
}
.inlineBlock {
  display: inline-block;
}

.singleInput {
  position: absolute;
  width: 100%;
  max-width: 30px;
  height: 22px;
  text-align: center;
  border: 0px;
  border-bottom: 0.1px solid lightgray;
  border-radius: 0px;
  margin-top: 0px;
  background-color: transparent;
  font-size: 18px;
  color: black;
 -webkit-text-fill-color: black;  
}

.singleInput2 {
  position: absolute;
  width: 100%;
  max-width: 30px;
  height: 22px;
  text-align: center;
  border: 0px;
  border-bottom: 0.1px solid lightgray;
  border-radius: 0px;
  margin-top: -25px;
  background-color: transparent;
  font-size: 18px;
  color: black;
 -webkit-text-fill-color: black;   
}

.singleInput3 {
  position: absolute;
  width: 100%;
  max-width: 30px;
  height: 22px;
  text-align: center;
  border: 0px;
  border-bottom: 0.1px solid lightgray;
  border-radius: 0px;
  margin-top: -50px;
  background-color: transparent;
  font-size: 18px;
  color: black;
 -webkit-text-fill-color: black;    
}

.dontBreak {
  white-space: break-spaces;
  display: inline-flex;
  line-height: 120px;
}

/* button {
  position: absolute;
  top: 50px;
  right: 25px;
  background: white;
  border-radius: 26px;
  padding: 10px 15px;
  border: 0;
  box-shadow: 1px 1px 1px black;
} */

@media all and (min-width: 0px) and (max-width: 480px) {
  h2.title {
    font-size: 15px;
  }
  .singleInput {
    max-width: 12px;
    font-size: 8px;
    color: black;
  }
  .paragraph {
    font-size: 25px;
    line-height: 52px;
  }

  .beal {
    color: red;
  }
}
